@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
		margin: 0;
		font-family: 'Poppins', 'Helvetica', sans-serif;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#FFD600;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
 @font-face {
  font-family: LogoFonts;
  src: url(../../fonts/Vermin\ Vibes\ 4\ Helium.otf);
}


body{
	font-family: 'Poppins', 'Helvetica', sans-serif;
	color:white;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}


#mainname {
	max-width: 100%;
}

#mainname p {
	font-family: LogoFonts;
	font-size: 12vh;
	font-weight: bold;
}

.intro p {
	margin: 0 auto;
	font-size: 1.7vh;
}
.intro h5 {
	font-size: 2vh;
	margin: 10px;
}
.section{
	text-align:center;
}

@keyframes logoanim {
	from {opacity: 0;}
	to {opacity: 100;}
}

#section0 {
	text-align: left;
	padding-left: 5vw;
	padding-right: 5vw;
}

#section0 h1{
	font-size: 5vh;
	width: 70%;
}

#section0 p, #section0 h1, #image0 {
	animation-name: logoanim;
	animation-duration: 8s;
}

#image0 {
	margin-bottom: 10vw;
}

#section1 h5{
	font-size: 150%;
	text-align: center;
}

#competences i {
	font-size: 5em;
}

#techstack h5{
	padding-top: 7vw;
	font-size: 2em;
}

#section2 h1{
	font-size: 5vh;
	margin-bottom: 10vh;
}

#section2 p{
	font-size: 2vh;
}

#locations {
	margin-top: 4vh;
}

#locations #town {
	margin-top: 4vh;
	font-size: 1.3em;
}

#locations #latlong {
	font-size: 1.1em;
}

#disclaimer {
	font-size: 1vh;
}

#contactdets {
	margin-top: 4vh;
}

#contactmail a{
	font-size: 2.5vh;
	color:#FFD600;
}

#footer {
	width: 100%;
	position: absolute;
	bottom: 3em;
}

#footer p{
	font-size: 1.3vh;
}

.icon-block {
	margin: 10px;
}

.material-icons {
	font-size: 5vh;
}

#compet {
	-webkit-transition: transform 2s;
	transition: transform 2s;
}

#compet:hover {
	transform: rotate(360deg);
}

.carousel {
	background-color: #2a2831;
}

@media screen and (min-width: 800px) {
  #techstack {
    display: inline;
  }
}

@media screen and (max-width: 801px) {
  #techstack {
    display: none;
	}
	#competences {
		margin-bottom: 15vw;
	}
}

