@charset "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', 'Helvetica', sans-serif;
}
a {
	text-decoration: none;
}
table {
	border-spacing: 0;
}
fieldset,
img {
	border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-weight: normal;
	font-style: normal;
}
strong {
	font-weight: bold;
}
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #ffd600;
}

q:before,
q:after {
	content: '';
}
abbr,
acronym {
	border: 0;
}

/* Custom CSS
 * --------------------------------------- */
@font-face {
	font-family: LogoFonts;
	src: url(../../fonts/Vermin\Vibes\4\Helium.otf);
}

body {
	font-family: 'Poppins', 'Helvetica', sans-serif;
	color: #e0e0e0;
}
.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1 {
	font-size: 6em;
}
p {
	font-size: 2em;
}

#mainname {
	max-width: 100%;
}

#mainname p {
	font-family: LogoFonts;
	font-size: 12vh;
	font-weight: bold;
}

.intro p {
	margin: 0 auto;
	font-size: 1.7vh;
}
.intro h5 {
	font-size: 2vh;
	margin: 10px;
}

.credentials h5 {
	font-size: 2.2vw;
	margin-bottom: 60px;
}

.credentials h6 {
	font-size: 1.1vw;
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.3vw;
}

.credentials-icons.animLate {
	animation: logoanim 10s, logoanimscale 3s;
}

.credentials.animLate {
	animation-name: credLoad;
	animation-duration: 4s;
}

@keyframes credLoad {
	0% {
		margin-top: 2000px;
		opacity: 0;
	}
	50% {
		margin-top: -40px;
		opacity: 0.5;
	}
	75% {
		margin-top: 20px;
		opacity: 0.8;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}

.section {
	text-align: center;
}

@keyframes logoanim {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes logoanimscale {
	0% {
		transform: scale(0.6);
	}
	/* 5% {
		transform: scale(0.6);
	} */
	100% {
		transform: scale(1);
	}
}

#section0 {
	text-align: left;
	padding-left: 5vw;
	padding-right: 5vw;
}

#section0 h1 {
	font-size: 5vh;
	width: 70%;
}

#section0 h2 {
	font-size: 3vh;
	width: 70%;
	margin-top: 10px;
}

#section0 p,
#section0 .scroll-downs {
	animation-name: logoanim;
	animation-duration: 10s;
}

#section0 h1,
#section0 h2 {
	animation-name: logoanim;
	animation-duration: 10s;
}

#image0 {
	animation: logoanim 15s, logoanimscale 3s;
}

#image0 {
	margin-bottom: 3vw;
}

#section1 h5 {
	font-size: 150%;
	text-align: center;
}

#competences i {
	font-size: 5em;
}

#techstack h5 {
	padding-top: 7vw;
	font-size: 2em;
}

#partners h5 {
	padding-top: 3vw;
	font-size: 1.7em;
}

#partners img {
	transform: scale(0.6);
}

#techstack-text {
	margin-bottom: 50px;
}

#partners-text {
	margin-bottom: 25px;
}

#section4 h1 {
	font-size: 5vh;
	margin-bottom: 10vh;
}

#section4 p {
	font-size: 2vh;
}

#locations {
	margin-top: 4vh;
}

#locations #town {
	margin-top: 4vh;
	font-size: 1.3em;
}

#locations #latlong {
	font-size: 1.1em;
}

#disclaimer {
	font-size: 1vh;
}

#contactdets {
	margin-top: 4vh;
}

#contactmail a {
	font-size: 2.5vh;
	color: #ffd600;
}

#footer {
	width: 100%;
	position: absolute;
	bottom: 3em;
}

#footer p {
	font-size: 1.3vh;
}

.icon-block {
	margin: 10px;
}

.credentials {
	margin: 0px;
}

.material-icons {
	font-size: 5vh;
}

#compet {
	-webkit-transition: transform 2s;
	transition: transform 2s;
}

#compet:hover {
	transform: rotate(360deg);
}

.tech-slideshow {
	display: flex;
	height: 250px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.mover {
	height: 250px;
	width: 5000px;
	position: absolute;
	overflow-x: hidden;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	animation: moveSlideshow 40s linear infinite;
	animation-direction: alternate;
	animation-delay: 3s;
}

.mover img {
	margin-left: 160px;
}

@keyframes moveSlideshow {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-3750px);
	}
}

@media screen and (min-width: 800px) {
	#techstack {
		display: inline;
	}
	.overlay {
		width: 50%;
	}
}

@media screen and (max-width: 801px) {
	#competences {
		margin-bottom: 15vw;
	}
	#section2,
	#techstack,
	#partners,
	.scroll-downs {
		display: none;
	}
	.overlay {
		width: 90%;
	}
}

.mover img {
	-ms-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

.mover img:hover {
	transform: scale(1.2);
}

#partners img {
	-ms-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#partners img:hover {
	transform: scale(0.7);
}

/*------ mouse scroller 1Page ------*/
.scroll-downs {
	position: absolute;
	left: 50%;
	bottom: 5vh;
}
.mousey {
	width: 3px;
	padding: 5px 10px;
	height: 30px;
	border: 2px solid #ffd600;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}
.scroller {
	width: 3px;
	height: 3px;
	border-radius: 25%;
	background-color: #ffd600;
	animation-name: scroll;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
	animation-iteration-count: infinite;
}
@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*------ canvas ------*/

canvas {
	background-color: transparent;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.overlay {
	position: absolute;
	top: 20vh;
	bottom: 0;
	left: 3vw;
	right: 0;
	/* height: 10%; */
	z-index: 0;
}
.scroll-downs {
	z-index: 0;
}

/* *{
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
          } */

.js-loading *,
.js-loading *:before,
.js-loading *:after {
	animation-play-state: paused !important;
}
